.cabecalho{
    align-items: center;
    background-color: var(--azul);
    display: flex;
    justify-content: center;
    height: 3.725rem;
}

.cabecalho__titulo{
    color: var(--branco);
    font-size: 1.75rem;
    font-style: italic;
    letter-spacing: 2px;
    text-shadow: 1px 1px 10px var(--branco);
}