.section--input{
    background-color: var(--cinza-claro);
    height: calc(100vh - 3.725rem);
    width: 25%;
}

.input__lista{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
}

.input__lista li:nth-child(2n){
    margin: 7rem 0;
}

.card__funcao{
    background-color: pink;
    display: none;
    height: 50px;
    width: 50px;
}