.section--input{
    align-items: center;
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    height: calc(100vh - 3.725rem - 50px);
}

.input__form{
    background-color: var(--cinza-claro);
    border-radius: 5px;
    border-top: 2px solid var(--azul);
    box-shadow: 3px 3px 20px #333333;
}

.input__lista{
    padding: 3rem 5rem;
}

.lista__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.lista__item input{
    background-color: transparent;
    border: 1px solid var(--azul);
    border-radius: 4px;
    box-shadow: inset -3px -3px 10px #777777, 1px 1px 10px #333333;
    height: 25px;
    padding: 0 5px;
}

.lista__item label{
    font-size: 1.125rem;
    margin-bottom: 1rem;
    text-align: center;
}

.lista__item label:active{
    border: none;
}

.submit{
    display: flex;
    justify-content: center;
}

#submit{
    background-color: var(--azul);
    border: none;
    border-radius: 5px;
    box-shadow: inset -1px -1px 10px #333333b4, 1px 1px 10px var(--azul);
    color: var(--branco);
    height: 30px;
    margin-top: 1rem;
    width: 120px;
    transition: all .5s;
}

#submit:hover{
    cursor: pointer;
    transform: scale(1.15);
}