.section--resultado{
    align-items: center;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    margin: 2rem;
}

.section--resultado img {

    margin: 3rem
}

.card__resultados{
    background-color: var(--cinza-claro);
    border-radius: 5px;
    border-top: 2px solid var(--azul);
    box-shadow: 3px 3px 20px #333333;
    padding: 1.5rem;
}

.card__resultados p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 1.25rem 0;
    text-align: center;
}

.section--resultado img{
    margin: 3rem;
}

.novo--calculo{
    background-color: var(--azul);
    border-radius: 5px;
    box-shadow: inset -1px -1px 10px #333333b4, 1px 1px 10px var(--azul);
    color: var(--branco);
    display: inline-block;
    font-size: 1.125rem;
    margin-top: 1rem;
    letter-spacing: 1px;
    padding: 0.8rem;
    transition: all .5s;
}

.novo--calculo:hover, .novo--calculo:focus, .novo--calculo:active{
    background-color: var(--branco);
    border: 3px solid var(--azul);
    color: var(--azul);
    box-shadow: none;
}