.section--resultado{
    align-items: center;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3.725rem - 50px);
    justify-content: space-between;
    margin: 2rem;
}

.card__resultados{
    background-color: var(--cinza-claro);
    border-radius: 5px;
    border-top: 2px solid var(--azul);
    box-shadow: 3px 3px 20px #333333;
    padding: 1.5rem;
}

.card__resultados p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 1.25rem 0;
    text-align: center;
}
